<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.daniele.fisiohome">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.DetalheFormaPagamentoActivity"/>
        <activity android:name=".activity.CadastroCartaoActivity" />
        <activity android:name=".activity.FormaPagamentoActivity" />
        <activity android:name=".activity.DetalheFisioterapeutaActivity" />
        <activity android:name=".activity.ConsultaActivity" />
        <activity android:name=".activity.VisualizarMedicoActivity" />
        <activity android:name=".activity.AgendamentosActivity" />
        <activity android:name=".activity.AgendarActivity" />
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.CadastroFisioterapeutaActivity" />
        <activity android:name=".activity.TipoUsuarioActivity" />
        <activity android:name=".activity.CadastroPacienteActivity" />
        <activity android:name="com.daniele.fisiohome.activity.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
    </application>

</manifest>